DATABASE_URL=postgresql+asyncpg://alcaldia_user:CHANGE_ME@10.0.0.12:5432/alcaldia_db
JWT_SECRET_KEY=CHANGE_ME_USE_OPENSSL_RAND_HEX_32
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES_CIUDADANO=30
JWT_EXPIRE_MINUTES_FUNCIONARIO=60
ENVIRONMENT=development
